*.para {
    color: black;
}

*.green {
    color: yellowgreen;
}

a {
    color: red;
}

span {
    background-color: skyblue;
}

.color {
    color: darkmagenta;
}

.red {
    color: rgb(51, 65, 255);
}

.yellow-bg {
    background: #ffa;
}

.fancy {
    font-weight: bold;
    text-shadow: 4px 4px 3px #77f;
}

.design {
    background-color: aqua;
    text-align: center;
}

#identified {
    background-color: red;
    font-weight: bold;
    color: antiquewhite;
}

a {
    color: blue;
}

a[href^="#"] {
    background-color: gold;
}

a[href*="example"] {
    background-color: silver;
}

a[href*="insensitive" i] {
    color: cyan;
}

a[href*="cAsE" s] {
    color: pink;
}

a[href$=".com"] {
    color: red;
}

a[href^="https"][href$=".org"] {
    color: green;
}

div[lang] {
    font-weight: bold;
}

div:not([lang]) {
    font-style: italic;
}

div[lang~="en-us"] {
    color: blue;
}

div[lang="pt"] {
    color: green;
}

div[lang|="zh"] {
    color: red;
}

div[data-lang="zh-TW"] {
    color: purple;
}

ol[type="a"] {
    list-style-type: lower-alpha;
    background: red;
}

ol[type="b" s] {
    list-style-type: lower-alpha;
    background: lime;
}

ol[type="B" s] {
    list-style-type: upper-alpha;
    background: grey;
}

ol[type="c"] {
    list-style-type: upper-alpha;
    background: green;
}

li {
    list-style-type: disc;
}

li li {
    list-style-type: circle;
}

span {
    background-color: aqua;
}

div>span {
    background-color: yellow;
}

p~span {
    color: red;
}

li:first-of-type+li {
    color: red;
}
